@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
          }
          50% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    }
}
@keyframes scale-up {
  00% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
          }
          50% {
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    }
}